<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Caption Text Size</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>fontsize</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>MinimumValue</key>
			<real>0.5</real>
			<key>MaximumValue</key>
			<real>2.5</real>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Caption Settings</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Font Family</string>
			<key>Values</key>
			<array>
				<string>GCKMediaTextTrackStyleFontGenericFamilyNone</string>
				<string>GCKMediaTextTrackStyleFontGenericFamilySansSerif</string>
				<string>GCKMediaTextTrackStyleFontGenericFamilyMonospacedSansSerif</string>
				<string>GCKMediaTextTrackStyleFontGenericFamilySerif</string>
				<string>GCKMediaTextTrackStyleFontGenericFamilyMonospacedSerif</string>
				<string>GCKMediaTextTrackStyleFontGenericFamilyCasual</string>
				<string>GCKMediaTextTrackStyleFontGenericFamilyCursive</string>
				<string>GCKMediaTextTrackStyleFontGenericFamilySmallCapitals</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>fontfamily</string>
			<key>DefaultValue</key>
			<string>GCKMediaTextTrackStyleFontGenericFamilySansSerif</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Sans Serif</string>
				<string>Monospace Sans Serif</string>
				<string>Serif</string>
				<string>Monospace Serif</string>
				<string>Casual</string>
				<string>Cursive</string>
				<string>Small Caps</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Text Color</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>textcolor</string>
			<key>DefaultValue</key>
			<string>FFFFFF</string>
			<key>Values</key>
			<array>
				<string>000000</string>
				<string>FFFFFF</string>
				<string>FF0000</string>
				<string>00FF00</string>
				<string>0000FF</string>
				<string>FFFF00</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Black</string>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Yellow</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Text Opacity</string>
			<key>Key</key>
			<string>textopacity</string>
			<key>DefaultValue</key>
			<string>FF</string>
			<key>Titles</key>
			<array>
				<string>100%</string>
				<string>80%</string>
				<string>20%</string>
			</array>
			<key>Values</key>
			<array>
				<string>FF</string>
				<string>CC</string>
				<string>33</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Background Color</string>
			<key>Key</key>
			<string>bgcolor</string>
			<key>DefaultValue</key>
			<string>000000</string>
			<key>Titles</key>
			<array>
				<string>Black</string>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Yellow</string>
			</array>
			<key>Values</key>
			<array>
				<string>000000</string>
				<string>FFFFFF</string>
				<string>FF0000</string>
				<string>00FF00</string>
				<string>0000FF</string>
				<string>FFFF00</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Background Opacity</string>
			<key>Key</key>
			<string>bgopacity</string>
			<key>DefaultValue</key>
			<string>FF</string>
			<key>Titles</key>
			<array>
				<string>100%</string>
				<string>80%</string>
				<string>20%</string>
			</array>
			<key>Values</key>
			<array>
				<string>FF</string>
				<string>CC</string>
				<string>33</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Rounded Corners</string>
			<key>Key</key>
			<string>rounded</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Edge Type</string>
			<key>Key</key>
			<string>edgetype</string>
			<key>DefaultValue</key>
			<string>GCKMediaTextTrackStyleEdgeTypeNone</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Outline</string>
				<string>Drop Shadow</string>
				<string>Raised</string>
				<string>Depressed</string>
			</array>
			<key>Values</key>
			<array>
				<string>GCKMediaTextTrackStyleEdgeTypeNone</string>
				<string>GCKMediaTextTrackStyleEdgeTypeOutline</string>
				<string>GCKMediaTextTrackStyleEdgeTypeDropShadow</string>
				<string>GCKMediaTextTrackStyleEdgeTypeRaised</string>
				<string>GCKMediaTextTrackStyleEdgeTypeDepressed</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
